.left-sidebar {
  .wallet-address {
    height: 56px !important;
  }
}
.wallet-address {
  z-index: 1;
  .username {
    margin-bottom: 0;
    font-size: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .wallet-img {
    width: 22px;
    margin-right: 4px;
    padding-bottom: 2px;
  }
}