
.fotgot-password-modal {
    .modal-dialog {
        max-width: 450px !important;
        // margin-right: 30px;
        margin-top: 150px;
        .forgot-password-btn {
            background-color: transparent;
            border: none;
            color: white;
            float: right;
            margin-top: 5px;
        }
        div {
            font-family: Poppins-Light;
        }
        span, td, select, option, p {
            font-family: Poppins-Light;
        }
        .agree-term {
            display: flex;
            white-space: nowrap;
            font-size: 14px;
            margin-bottom: 10px;
            input {
                margin-right: 10px;
            }
            .term-service-btn {
                background-color: transparent;
                border: none;
                color: #FF01EB;
                margin-left: 8px;
                margin-right: 0px;
                padding: 0;
                cursor: pointer;
            }
        }
        .term-of-service {
            position: absolute;
            width: 800px;
            top: -5px;
            transform: translateX(-50%);
            left: 50%;
            border: 2px solid;
            border-image: linear-gradient(90deg, #7050CB 4.11%, #FF01EB 100%) 1;
            .term-header {
                color: gray;
            }
        }
        .validate-rule {
            white-space: nowrap;
            color: gray;
            font-size: 12px;
        }
        .reset-price {
            width: 100%;
            text-align: center;
        }
        .right-headre-section {
            position: absolute;
            right: 100px;
            top: 23px;
            font-size: 14px;
            display: flex;
            justify-content: center;
            align-items: center;
            .time-select {
                background-color: #2A2864;
                color: white;
                padding: 10px;
                padding-top: 5px;
                padding-bottom: 5px;
                border: none;
                text-align: center;
                align-items: center;
            }
            .reload-btn {
                margin-left: 10px;
                cursor: pointer;
            }
        }
        .custom-table-bottom-left {
            &-select {
                .dropdown {
                    button {
                        font-size: 14px;
                    }
                }
            }
            &-status {
                font-size: 14px;
            }
        }
    }
}